In [32]:
#c=Creating a SQLite database having CSV file data
using CSV,SQLite
db = SQLite.DB()
tbl = CSV.File("C:/Users/raash/OneDrive/Documents/Clothing.csv") |> SQLite.load!(db, "Clothing")

"Clothing"

In [37]:
ENV["LINES"]=200

200

In [42]:
#Query to retrieve all values of table
using DataFrames
DBInterface.execute(db, "SELECT * FROM Clothing") |> DataFrame

34×4 DataFrame
│ Row │ UserID │ Products                     │ Pricing │ Rating │
│     │ Int64  │ String                       │ Int64   │ Int64  │
├─────┼────────┼──────────────────────────────┼─────────┼────────┤
│ 1   │ 1      │ Jersey Top                   │ 399     │ 3      │
│ 2   │ 1      │ Flowral Pink Top             │ 599     │ 3      │
│ 3   │ 2      │ Distressed Blue Denim        │ 1649    │ 2      │
│ 4   │ 2      │ Brushed Biker Jacket         │ 3999    │ 5      │
│ 5   │ 2      │ 2-Pack Jersey Tops           │ 1299    │ 0      │
│ 6   │ 3      │ Bellbottomed Corduroy jeans  │ 1799    │ 3      │
│ 7   │ 4      │ Blue Jumper                  │ 899     │ 5      │
│ 8   │ 5      │ Light Blue Cardigan          │ 999     │ 0      │
│ 9   │ 6      │ Dark Blue Mom Jeans          │ 1499    │ 2      │
│ 10  │ 7      │ Cropped Overall              │ 1399    │ 1      │
│ 11  │ 8      │ Zipped Dleece Top            │ 1999    │ 4      │
│ 12  │ 9      │ Pile-Lined Parka             │ 3999    │ 0      │
│ 13  │ 10     │ Puff Sleeved Jumper          │ 1499    │ 0      │
│ 14  │ 11     │ Hooded Jacket                │ 1499    │ 4      │
│ 15  │ 11     │ Boxy Puffer Jacket           │ 2999    │ 1      │
│ 16  │ 11     │ Cotton Twill Parka Jacket    │ 2999    │ 4      │
│ 17  │ 11     │ Solid Cotton Hoodie          │ 1999    │ 2      │
│ 18  │ 12     │ Jersey T-Shirt               │ 399     │ 2      │
│ 19  │ 13     │ Wool-Blend Coat              │ 4499    │ 3      │
│ 20  │ 14     │ Padded Hooded Outdoor Jacket │ 2999    │ 5      │
│ 21  │ 15     │ Solid Ribbed Top             │ 799     │ 2      │
│ 22  │ 16     │ Straight-Cut Jacket          │ 2299    │ 1      │
│ 23  │ 17     │ Fitted Blazer                │ 2299    │ 0      │
│ 24  │ 18     │ Knitted Jumper               │ 1499    │ 3      │
│ 25  │ 19     │ Cigarette trouser            │ 1499    │ 2      │
│ 26  │ 20     │ Faux-Lined Jacket            │ 4499    │ 1      │
│ 27  │ 21     │ Oversized Sweatshirt         │ 1499    │ 1      │
│ 28  │ 21     │ Satin Nightslip              │ 1299    │ 2      │
│ 29  │ 22     │ Teddy Coat                   │ 4499    │ 4      │
│ 30  │ 23     │ Solid Drapped Top            │ 799     │ 5      │
│ 31  │ 23     │ Ribbed Strappy Top           │ 799     │ 3      │
│ 32  │ 24     │ Hooded Puffer Jacket         │ 4499    │ 3      │
│ 33  │ 25     │ Knitted Cardigan             │ 1299    │ 2      │
│ 34  │ 25     │ Solid Corduroy Shirt         │ 1499    │ 3      │

In [40]:
DBInterface.execute(db,"SELECT a2.Products,a2.Pricing
FROM Clothing a1 INNER JOIN Clothing a2
     ON a1.UserID = 1
     Where a2.UserID !=1
     AND a2.Products NOT IN ( SELECT Products
                           FROM Clothing
                           WHERE UserID = 1)
GROUP BY(a2.Products)
HAVING AVG(a2.Rating)>=3
  LIMIT 5  "
    ) |>DataFrame

5×2 DataFrame
│ Row │ Products                    │ Pricing │
│     │ String                      │ Int64   │
├─────┼─────────────────────────────┼─────────┤
│ 1   │ Bellbottomed Corduroy jeans │ 1799    │
│ 2   │ Blue Jumper                 │ 899     │
│ 3   │ Brushed Biker Jacket        │ 3999    │
│ 4   │ Cotton Twill Parka Jacket   │ 2999    │
│ 5   │ Hooded Jacket               │ 1499    │